<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="https://jakarta.ee/xml/ns/jakartaee" xsi:schemaLocation="https://jakarta.ee/xml/ns/jakartaee https://jakarta.ee/xml/ns/jakartaee/web-app_6_0.xsd" version="6.0">
  <servlet>
    <description></description>
    <display-name>SSServlet</display-name>
    <servlet-name>SSServlet</servlet-name>
    <servlet-class>pck.SSServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>SSServlet</servlet-name>
    <url-pattern>/SSServlet</url-pattern>
  </servlet-mapping>
  <display-name>labServletP1</display-name>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.htm</welcome-file>
    <welcome-file>default.jsp</welcome-file>
  </welcome-file-list>
  <servlet>
    <description></description>
    <display-name>ServletAdd</display-name>
    <servlet-name>ServletAdd</servlet-name>
    <servlet-class>pck.ServletAdd</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ServletAdd</servlet-name>
    <url-pattern>/ServletAdd</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ServletList</display-name>
    <servlet-name>ServletList</servlet-name>
    <servlet-class>pck.ServletList</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ServletList</servlet-name>
    <url-pattern>/ServletList</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ServletDelete</display-name>
    <servlet-name>ServletDelete</servlet-name>
    <servlet-class>pck.ServletDelete</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ServletDelete</servlet-name>
    <url-pattern>/ServletDelete</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ServletPut</display-name>
    <servlet-name>ServletPut</servlet-name>
    <servlet-class>pck.ServletPut</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ServletPut</servlet-name>
    <url-pattern>/ServletPut</url-pattern>
  </servlet-mapping>
</web-app>